// Start Navbar
#footer.footer.p-relative
  .container.p-relative.pl-20.pr-20
    .links-container
      ul.main-footer.d-flex.m-auto.social-link
        li
          a(href='' style='--i:1;')
            i.fab.fa-facebook
        li
          a(href='' style='--i:2;')
            i.fa-brands.fa-x-twitter
        li
          a(href='' style='--i:3;')
            i.fab.fa-instagram
        li
          a(href='' style='--i:4;')
            i.fa-brands.fa-whatsapp
        li
          a(href='' style='--i:5;')
            i.fa-brands.fa-linkedin
    .copyRights-container
      .box-1(style='--i:6;')
        i.fa-regular.fa-copyright
        p.mr-5 All rights reserved to 
        a.mr-5.designer.fw-bold(href='/') Parky
        p.mr-5 |
        a.Btn.rad-17(href='/privacyDataPolicy') 
          i.fa-solid.fa-shield-halved
          | Privacy Data Policy
      .box-2(style='--i:7;')
        i.fa-solid.fa-paintbrush
        p.mr-5 Design, programming and development: 
        a.designer.fw-bold(href='https://www.linkedin.com/in/abram-emad-mahrous/' id='abram-emad') Abram Emad
// End Navbar
