script(src='https://kit.fontawesome.com/108429dde3.js', crossorigin='anonymous')
link(rel='stylesheet', href='css/framework.css', type="text/css")
link(rel='stylesheet', href='css/master.css', type="text/css")
link(rel='preconnect', href='https://fonts.googleapis.com')
link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap', rel='stylesheet')