//- Start Page
extends homePage

//- Change Page Content
block pageContent
  #container-forms.container-forms.p-relative.center-flex(style='min-height: 350px;')
    .form-container.p-absolute.h-full.w-full
      form.center-flex.h-full.w-full(action="/confirmEmail" method="post")
        h1.fw-bold.fs-25.txt-c Please Enter The OTP Code That You Have Received To Confirm Your Account
        input.b-none.fs-13.w-full.rad-10(type="text" id="otp" name="otp", maxlength ='4', placeholder='Please Enter The OTP Code That You Have Received', required)
        button.fs-13.mt-10.rad-10(type="submit") Confirm your Account
        if authError
          p.fs-14.p-10.bg-red.rad-10.c-white.txt-c.p-relative.m-0= authError
  .iconic-image(style="margin-right: 1px;")
    img(src='./images/otp1.png', alt='', class="profile-pic", style="width: 325px; z-index: 0;")   
//- End Page