extends homePage

block pageContent
    #container-forms.container-forms.p-relative.center-flex(style='min-height: 350px;width: 800px;')
        .form-container.p-absolute.h-full.form-1
            form.center-flex.h-full.w-full(action='/resetPassword', method='POST')
                h1 Enter OTP
                input.b-none.fs-13.w-full.rad-10(type='text', id='otp', name='otp', maxlength ='4', placeholder='Please Enter The OTP Code That You Have Received', required)
                input.b-none.fs-13.w-full.rad-10(type="password", id="newPassword", name="newPassword", placeholder='Please Enter Your New Password', required)
                button.fs-13.mt-10.rad-10.reset(type='submit') Reset Now 
                if authError
                    p.fs-14.p-10.bg-red.rad-10.c-white.txt-c.p-relative.m-0= authError
        .form-container.p-absolute.h-full.center-flex.form-2
            form.center-flex.h-full.w-full(action='/forgetPassword', method='POST')
                h1 Reset Your Password
                input.b-none.fs-13.w-full.rad-10(type='email', id='email', name='email', placeholder='Please Enter Your E-mail', required)
                button.fs-13.mt-10.rad-10(type='submit') Continue        
                if authError
                    p.fs-14.p-10.bg-red.rad-10.c-white.txt-c.p-relative.m-0= authError
        .toggle-container.p-absolute.h-full
            .toggle.p-relative.h-full
                .toggle-panel.p-absolute.h-full.txt-c.center-flex.toggle-left
                    h1 Welcome Back!
                    p Please Enter The OTP Code That You Have Sent To Your E-mail
                    button.fs-13.mt-10.rad-10#form-2.hidden Previous Page
                .toggle-panel.p-absolute.h-full.txt-c.center-flex.toggle-right
                    h1 Hello, Friend!
                    p Do not be afraid, we will help you recover your password easily and conveniently
                    button.fs-13.mt-10.rad-10#form-1.hidden Next Page
    .iconic-image(style="margin-right: 1px;")
        img(src='./images/reset-password.png', alt='', class="profile-pic", style="width: 325px; z-index: 0;")
