//- Start Page
extends homePage

//- Change Page Content
block pageContent
    .privacyDataPolicy
        h1 Privacy Data Policy
        p At Parky, we highly value the importance you place on safeguarding the privacy of your online data. Hence, the formulation of this policy aims to provide you with insight into the specific types of data we gather from you during your visit to our website, as well as our approach to handling this data.
        p In terms of browsing on our website, it is paramount to note that our platform was not designed with the intention of collecting personal information from visitors.
        p When it comes to the disclosure of information, it is our unwavering commitment to uphold the privacy and confidentiality of all personal data that comes into our possession. Rest assured that such information will not be shared unless mandated by law or under circumstances where we genuinely believe that such action is necessary or prudent for legal compliance, safeguarding the rights of this website, or other justifiable reasons.
        p With regard to disseminating information to third parties, we wish to emphasize that under no circumstances do we engage in the sale, trade, rental, or disclosure of any information to external entities for their benefit outside the scope of this website. Information will only be disclosed when compelled to do so by a judicial or regulatory body through a legally binding order.
        p For any inquiries or communication needs, we welcome you to reach out to us by utilizing the "Contact Us" link provided within our website's navigation.
        p The protection of your data confidentiality and privacy concerns holds significant weight in our operations. It is our earnest desire that this policy effectively addresses and resolves any apprehensions you may have in this regard.
    .iconic-image(style="margin-right: 1px;")
        img(src='./images/privacy.png', alt='', class="profile-pic", style="width: 400px; z-index: 0;")   
//- End Page