//- Start Page
extends homePage

//- Change Page Content
block pageContent
    .main.center-flex
        +teamMembersPageContent('Abram Emad Mahrous', 'full-stack developer', 'an engineer specializing in electrical and computer engineering, and a lover of programming.', '', 'man2', '', '', '', '', '#', '#')
        +teamMembersPageContent('Mustafa Mohamed', 'Software Engineer', 'An expert in software development with a background in electrical engineering. Passionate about creating innovative solutions.', 'man1', '', '', '', '', '', '#', '#')
        +teamMembersPageContent('Mina Adel Zaki', 'Junior DevOps Engineer', 'An enthusiast in managing IT infrastructure with a focus on automation and deployment. Always eager to learn new technologies.', '', '', 'man3', '', '', '', '#', '#')
        +teamMembersPageContent('Osama Hussein Abdel-Karem', 'Computer Hardware Engineer', 'Specializes in designing and developing computer hardware components. A detail-oriented professional with a passion for technology.', '', 'man2', '', '', '', '', '#', '#')
        +teamMembersPageContent('Michael Maher Aiad', 'Embedded Systems Engineer', 'Experienced in designing embedded systems for a variety of applications. Enjoys working on projects that involve hardware-software integration.', 'man1', '', '', '', '', '', '#', '#')
        +teamMembersPageContent('Abdallah Saber Abdelfadil', 'Network Engineer', 'A skilled professional in designing, implementing, and managing computer networks. Always striving for efficient and secure network solutions.', '', '', 'man3', '', '', '', '#', '#')
        +teamMembersPageContent('Kerolos Sedik Essia', 'Machine Learning Engineer', 'Passionate about developing intelligent systems using machine learning algorithms. Enthusiastic about applying cutting-edge technologies to solve complex problems.', '', 'man2', '', '', '', '', '#', '#')
        +teamMembersPageContent('Mina Magdy Salah', 'Data Scientist', 'An expert in analyzing and interpreting complex data sets. Possesses strong analytical skills and a deep understanding of data mining techniques.', 'man1', '', '', '', '', '', '#', '#')
        +teamMembersPageContent('Alaa Mohamed Salheen', 'Cybersecurity Analyst', 'Specializes in safeguarding information systems from cyber threats. A vigilant professional dedicated to ensuring data security and privacy.', '', '', 'man3', '', '', '', '#', '#')
        +teamMembersPageContent('Mohamed Ahmed Mohamed', 'Robotics Engineer', 'Experienced in designing and developing robotic systems for various applications. Passionate about pushing the boundaries of technology in the field of robotics.', '', 'man2', '', '', '', '', '#', '#')
        +teamMembersPageContent('Hussein Ali Hussein Mohammed', 'Systems Engineer', 'An expert in designing and managing complex systems involving both hardware and software components. Skilled in ensuring system reliability and performance.', 'man1', '', '', '', '', '', '#', '#')
        +teamMembersPageContent('Omar Nabil Hegazy', 'Electrical Communications Engineer', 'An engineer specialized in electrical and computer engineering. I love robotics and have experience in electrical communication and cables. I was a trainee in the electricity distribution company.', '', '', 'man3', '', '', '', '#', '#')
        +teamMembersPageContent('Mommen Sayed Mohamed', 'Network Security Engineer', 'Proficient in designing and implementing secure network solutions to protect sensitive data and prevent cyber threats. Skilled in analyzing network vulnerabilities and recommending effective security measures.', '', 'man2', '', '', '', '', '#', '#')        
        +teamMembersPageContent('Hala Mohamed', 'Computer Systems Analyst', 'Analyzes organizational computer systems and processes to improve efficiency and effectiveness. Skilled in identifying technological solutions to business challenges.', '', '', '', 'woman1', '', '', '#', '#')
        +teamMembersPageContent('Ola Kamal Yahia', 'Computer Vision Engineer', 'Specializes in developing algorithms and systems for interpreting visual data. Passionate about applications in image recognition, object detection, and more.', '', '', '', '', 'woman2', '', '#', '#')
        +teamMembersPageContent('Enas Abdelwahab Khalil', 'Hardware Design Engineer', 'Experienced in designing electronic circuits and hardware components. Detail-oriented and dedicated to creating efficient and reliable hardware solutions.', '', '', '', '', '', 'woman3', '#', '#')

//- End Page