/* - Start Variables - */
$color-primary: #6731cc;
$color-alt-primary: #512da8;
$color-danger: #FF0060;
$color-success: #1B9C85;
$color-warning: #F7D060;
$color-white: #fff;
$color-mist-white: #ececec;
$cloor-grey: #888;
$color-black: #000;
$color-mist-black: #333;
$color-info-dark: #7d8da1;
$color-dark: #363949;
$color-light: rgba(132, 139, 200, 0.18);
$color-dark-variant: #677483;
$color-background: #f6f6f9;

$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 1.2rem;

$card-padding: 1.8rem;
$padding-1: 1.2rem;

$box-shadow: 0 5px 15px rgb(0 0 0 / 5%);

$main-transition: 0.3s;
$main-padding-top: 100px;
$main-padding-bottom: 100px;

$darkMode-background: #181a1e;
$darkMode-white: #202528;
$darkMode-dark: #edeffd;
$darkMode-dark-variant: #a3bdcc;
$darkMode-light: rgba(0, 0, 0, 0.4);
$darkMode-box-shadow: 0 5px 15px var($color-light);

/* - End Variables - */